# Vercel
.vercel

# Next.js
.next/
out/

# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Playwright
playwright-report/
test-results/
tests/responsive.spec.ts-snapshots/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
